.carte {
    width: 400px;
    height: 200px;
    background-image: url("http://www.supportduweb.com/page/images/uploads/gifAsm_roSpduetubpW351.png");
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 2px #000000;
    -moz-box-shadow: 4px 4px 8px 2px #000000;
    box-shadow: 4px 4px 8px 2px #000000;
}

h1 {
    font-size: 20px;
    padding-top: 20px;
    color: lightgrey;
    text-shadow: 3px 3px 21px rgba(194, 185, 12, 1);
    text-align: center;
}

#logo {
    font-size: 30px;
    color: goldenrod;
    position: absolute;
    top: 60px;
    left: 20px;
    text-shadow: 3px 3px 21px rgba(194, 185, 12, 1);
    border: gold 1px;
}

.information {
    position: absolute;
    top: 80px;
    right: 0px;
    color: lightgrey;
    text-shadow: 3px 3px 21px rgba(194, 185, 12, 1);
}

hr {
    background-color: gold;
    height: 4px;
    border: none;
}

th {
    text-align: center;
}

td {
    text-align: left;
    padding-left: 10px;
}