.ficheIdentite {
    background-image: url("http://www.supportduweb.com/page/images/uploads/gifAsm_purbWptdSoue346.png");
    background-size: cover;
    width: 250px;
    border-radius: 5px;
    position: absolute;
}

img {
    position: absolute;
    right: 10px;
    border: 2px solid green;
    border-radius: 10px;
}

th {
    color: red;
    padding: 10px;
    border: solid 1px darkslategrey;
}

li {
    list-style: none;
    color: blue;
}

a {
    text-decoration: none;
    color: crimson;
}

td {
    color: slateblue;
}